@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* ///////////  --------------------- ////////////*/
/* ------- Common style section here ----------*/
.btn-primary {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px 15px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}

/* ------- Common style section ended ----------*/

/* /////////---------------------------------------- //////////////*/

/* ------navbar style start here --------*/
nav .nav-items {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

nav .logo-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

/* ------navbar style ended --------*/

/* /////////////////  -----------------  ////////////////////*/

/* ------ header banner style here ---------- */

.header-banner-bg {
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 652px;
}

.banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-info img {
    width: 240px;
    height: 240px;
    margin-bottom: 32px;
}

.banner-info h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    padding: 0 220px;
    text-align: center;
    margin-bottom: 24px;

}

.banner-info p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    padding: 0 294px;

}

.banner-info button {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 15px;
    margin-top: 32px;
}

/* ------ header banner style ended ---------- */

/* /////////////////  -----------------  ////////////////////*/